*{margin: 0;
padding: 0;
box-sizing: border-box;
}
html{font-family: monospace;
font-size: 1em;}
section{
    width: 100%;
}
section .card{
background-color: blueviolet;
color:coral ;
width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:0 auto;
border-radius: 20%;
overflow: hidden;
}
section .card figure img{
    width: 100%;

}
section .card h3{
    padding: 10px;
    font-size: 1.6em;
}
section .card p {
    padding: 5px;
    margin-bottom: 10px;
}
section .card p span{
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
}